/* Content Holder */
#gallery_inner {margin: 0 0 0 0;}
#gallery_outer1 {height:337px; width:600px; overflow:hidden; background:#B5FBFF; border:3px solid #2128AF;}
body {margin:0;}
#loadcontent {font-size:28pt; width:600px; height:337px;}